<html>
  <body>
    <p>
      Someone added a comment to one of your articles <i><%= @article.title %></i>
      Go tread the comment: <%= link_to @article.title, article.url(@article, :host => 'localhost:3000'); %>.
    </p>
  </body>
</html>